@media (prefers-reduced-motion: no-preference) {
  @keyframes slideInUp {
    0% {
      transform: translateY(70px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideInUp {
    animation: slideInUp 1s ease-in-out forwards;
  }
}