* {
  padding: 0;
  margin: 0;
}
.news-middles {
  width: 100vw;
  height: 130vh;
  background-color: #cedafa;
  display: flex;
  flex-direction: column;
}
.news-titles {
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3931e;
  font-size: 28px;
}
.news-comps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 415px) {
  .news-middles {
    height: 180vh;
  }
}
