/* Hide scrollbar for webkit browsers */

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    /* Set a small width to make it invisible but clickable */
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set a transparent background color */
}

::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0.281);
    /* Set a transparent background color for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background:#555;
    /* Set a transparent background color for the thumb on hover */
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height:20px;
    letter-spacing:.5px;
  }

  body{
    overflow-x: hidden;
  }

  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }