/* signup.css */

   .signup-container{
    margin: 0;
    padding: 0;
    background-image: url('../../assets/wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* Set the height of the background to cover the entire viewport */
    display: flex;
    flex-direction: column;
        align-items: flex-end;
    justify-content: center;
}

.signup-text {
    font-size: 20px;
   color:#000000;
    font-weight: 500;
    margin-bottom: 36px;



}

@media screen and (max-width:1000px) {
    .signup-container {
        align-items: center; 
    }
    .register-class{
        width: 100vw !important;
        
    }
}

@media screen and (max-width:856px) {
    .signup-container{
        align-items: center; 
    }
    .register-class{
        width: 100vw !important;
        
    }
    .box-register{
        width: 80vw !important;
    }
}